snippet sp "Inserts inline span element."
<span class="$1">$2</span>
endsnippet

# TODO: Consider using python expansion for title to omit it if it's empty.
# TODO: Dedupe with logic in autoload script.
snippet yamlheader "Inserts YAML header."
---
`!v 'title: _' . expand('%:t:r:s?\d\d\d\d-\d\d-\d\d-??:gs?-? ?') . '_'`
---
endsnippet
